[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/nanobench"]
	path = extern/nanobench
	url = https://github.com/martinus/nanobench
