# Dependencies for developing Magnetron (including testing, benchmarks, and docs).
# Runtime usage requires *only* CFFI.

cffi
wheel
setuptools
pytest
numpy
matplotlib
sphinx
sphinx-autoapi
sphinx-rtd-theme
ruff
